{% extends 'base.html.twig' %}

{% block title %}Edit Iva{% endblock %}

{% block body %}
    <h1>Edit Iva</h1>

    {{ include('iva/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('iva_index') }}">back to list</a>

    {{ include('iva/_delete_form.html.twig') }}
{% endblock %}