{% extends 'base.html.twig' %}

{% block title %}New Administrador{% endblock %}

{% block body %}
    <h1>Create new Administrador</h1>

    {{ include('administrador/_form.html.twig') }}

    <a href="{{ path('administrador_index') }}">back to list</a>
{% endblock %}