<div class="container-fluid" id="menudos">
	<div class="row">
		<div class="col">
			<a id="miboton1" class="nav-link" href="{{ path('proveedor_index') }}">Proveedores</a>
		</div>		
		<div class="col">
			<a id="miboton2" class="nav-link" href="{{ path('cliente_index') }}">Clientes</a>
		</div>
		<div class="col">
			<a class="nav-link" href="{{ path('gestoria_index') }}">Asesor</a>
		</div>
		<div class="col">
			<a class="nav-link" href="{{ path('empresa_index') }}">Empresa</a>
		</div>
	</div>
	<div class="dropdown-divider"></div>
</div>

