
{% extends 'principal/base.html.twig' %}

{% block title %}Contabalan{% endblock %}
{% block body %}

<div class="container-fluid" id="principio">	
	<div class="row">
		<div class="col" id="texto">
			<h3>Programa de facturación y contabilidad <br> para autónomos y pequeñas empresas</h3>
			<br>
			<p>Haz facturas profesionales y atractivas y controla tu propio negocio <br> allá donde estés. </p>
			<button type="button" class="btn btn-info btn-lg">Crea tu propia factura</button>
		</div>
		<div class="col">
			<img src="https://es.justexw.com/wp-content/uploads/sites/2/plantillas-excel-manejar-facturacion-contabilidad.jpg" height="400">
		</div>
	</div>
</div>
<div class="container-fluid" id="tic">	
	<h1>Contabilidad al alcance de tus dedos</h1> <br>			
	<h3>El sistema de trabajo de Contabalan está diseñado para liberarte del papeleo y <br>ahorrarte tiempo en tu contabilidad.</h3>	
	<div class="row">			
		<div class="col" id="pc">
			<img src="https://png.pngtree.com/element_origin_min_pic/17/08/19/753ebb673790ddd6768b70b5d43d340e.jpg" height="300">

		</div>
		<div class="col">
			<ul>
				<li><i class="fas fa-check"></i> Controla y registra tus gastos</li>
				<li><i class="fas fa-check"></i> Realizacion de facturas</li>
				<li><i class="fas fa-check"></i> Modelo 303 de IVA y cuenta de resultados</li>
				<li><i class="fas fa-check"></i> Toda tu información segura en la nube</li>
			</ul>
		</div>
	</div>
</div>

   
{% endblock %}
