{% extends 'base.html.twig' %}

{% block title %}New Operacion{% endblock %}

{% block body %}
    <h1>Create new Operacion</h1>

    {{ include('operacion/_form.html.twig') }}

    <a href="{{ path('operacion_index') }}">back to list</a>
{% endblock %}