@import '~bootstrap/dist/css/bootstrap.min.css';

.navbar {
	padding-bottom: 30px;
	margin-top: 30px;
}

.col-md-3 .nav-item {
	padding-bottom: 30px;
	margin-top: 30px;
	text-align: right;
	 list-style:none;
}


.nav > li a {
	color: #212529;
}

.nav-item a {
	color: #212529;	
}

.col-md-2 li {
	list-style:none;
}

#cs {
	background-color: #ddded6;
}

.col-md-2 > .nav-item .dropdown-toggle {
	width: 120%;
	color: #8c8a8d;
}

.nav-item {
	padding-right: 20px;
}

.col-md-2 > .nav-item .dropdown-menu .dropdown-item:nth-child(3) {
	background-color: #ddded6;
}

.registro {
	background-color: #ffe5b4;
	text-align: center;
	margin-top: 50px;
	padding-top: 20px;
	margin-left: 300px;
	margin-right: 300px;
}

.container-fluid #proveedor{
	background-color: #f2f4f6;
	color:  #686877;	
}

.table {
	color: #686877;
	margin-left: 20px;
}

#nuevo {
	margin-left: 200px;
}

.container-fluid > .large-8 > .col-md-8, .container-fluid > .row > .col-md-4 {	
	border: 1px #dfdfea double;	
}

.container-fluid > .large-8 > .col-md-8 {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*imagenes de la derecha de la pagina de inicio*/
#lateral > .col-md-3 {
	margin-top: 180px;
}

.medium-12 > .col-md-8 {
	margin-bottom: 50px;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#lateral > .col-md-9 {
	padding-left: 60px;
	text-align: justify;
}

#lateral > .col-md-9 > h5 {
	color: #ffa500;
}

.dashboard-detailed__right{
	text-align: center;
	padding-bottom: 50px;
}

#encabezadoinicio h1 {
	margin-left: 480px;
	margin-top: 60px;
	color: #ff947a;
}

#encabezadoinicio p {
	margin-left: 200px;
}


#cliente, #empresaindex, #gestoriaindex {
	background-color: #f2f4f6;
}

/* boton de empresa */
.botonesmodal .btn-secondary {
	background-color: #ffbb00;
	margin-bottom: 20px;
	margin-left: 35px;
	border-color: #ffbb00;
}

.botonesmodal .btn-secondary:focus, .botonesmodal .btn-secondary:hover {
	border-color: #ffbb00;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* boton nueva factura*/
#facturanew {
	margin-bottom: 40px;
	margin-top: 20px;
	margin-left: 35px;
}

/* boton nuevo producto*/
#productonew {
	margin-bottom: 40px;
	margin-top: 20px;
	margin-left: 35px;
}

#productoindex {
	background-color: #212529;
	color: white;
}

.container-fluid > .table > tbody a {
	color: #686877;
	font-size: bold;
}

.botonesmodal {
	margin-top: 30px;
}



/* PAGINA DE INICIO  */

.progress-bar {
	background-color: #9ec73d;
	width: 50%;

}

.progress-bar2 {
	background-color: #6cb742;
	width: 30%;
}

.progress-bar3 {
	background-color: #4ba141;
	width: 20%
}

.progress {
	height: 50px;
}

.container-fluid .row .col-md-9 .card .card-body h3 {
	padding-top: 20px;
	font-size: 1.3em;
	font-style: oblique; 
}

.container-fluid .row .col-md-9 .card .card-body .progress p {
	color: white;
	font-size: 1.3em;
	text-align: left;
}

.container-fluid .row .col-md-9 .card .card-body .row a {
	color: black;	
}

.container-fluid .row .col-md-9 .card .card-body .row a:hover {
	color: grey;
	text-decoration:none;	
}
