{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva factura</h1>
    <div class="container-fluid" id="paso">	 
        <div class="row container-fluid" id="registro">
            <div class="col-md-6">                         
                <h4 class="card-title">Cliente y fecha</h4>
            {{ include('factura/_form.html.twig')}}               
            </div>            
        </div>               
        <a href="{{ path('factura_index') }}">Ir a la lista</a>
    		  			
    </div>    
{% endblock %}