<header>

<div class="container-fluid">
	<div class="row" id="encabezado">
		<div class="col" id="logo">
			<img src="{{asset('imagen/contabalan.png')}}" alt="logo" height="50">
		</div>  

		{# templates/security/login.html.twig #}
		{# ... you will probably extend your base template, like base.html.twig #}
		{% if error %}
		    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<form action="{{ path('login') }}" method="post">
		    <label for="username"></label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Nombre"/>
		    <label for="password"></label>
		    <input type="password" id="password" name="_password" placeholder="Contraseña" />
		    {#
		        If you want to control the URL the user
		        is redirected to on success (more details below)
		        <input type="hidden" name="_target_path" value="/account" />
		    #}

		    <button id="acceder" type="submit" class="btn btn-black">Acceder</button>
		   	
		</form>		
	</div>
	<div id="enlace">
		¿No tienes clave de acceso? <a href="register" data-toggle="modal" data-target="#exampleModal">Regístrate</a>			
	</div>	
			
</div> 

{% include 'principal/_modal.html.twig' %}
</header>